* {
  box-sizing: border-box;
}

:focus {
 /* TODO */
 outline: none;
}

body {
  margin: 0; /* Remove default body margin */
  height: 100vh; /* Make sure the body takes the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(255, 165, 0, 1));
  
}


input {
 /* TODO */
  width: 200px;
  padding: 10px;
  border: none;

}

.search-container {
 /* TODO */
 position: relative;
}
.search-container input,
.search-container .suggestions {
  background: linear-gradient(to right, rgba(255, 255, 100, 0.7), rgba(255, 165, 100, 0.7));
  border: 1px solid #ccc;
  width: 100%;
  
}
.search-container input {
 /* TODO */

}
.search-container .suggestions {
   /* TODO */
  
}

ul {
  /* TODO */
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.has-suggestions {
  /* TODO */
  display: block;
}
ul li {
  /* TODO */
  padding: 10px;
  cursor: pointer;
}
ul li:hover {
  /* TODO */
  background-color: #f1f1f1;
}

input {
   /* TODO */
   
   padding: 10px;
   border: none;
   
}


.suggestions.has-suggestions {
  display: block;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: none; */
}